alias vi="vim"
alias mtr='mtr -o "LRDS N BAW" '
alias up="sudo dnf update --refresh || sudo zypper up || sudo apt upgrade"
alias yakuake-toggle='qdbus org.kde.yakuake /yakuake/window org.kde.yakuake.toggleWindowState'
alias yakuake-retract='if [ "`qdbus org.kde.yakuake /yakuake/MainWindow_1 org.qtproject.Qt.QWidget.isActiveWindow`" = "true" ]; then yakuake-toggle; fi'
alias ambilight="python2 $HOME/Development/Programming/ambilight/controller/main.py"
#alias movie-start="ambilight off; brightness-off"
#alias movie-end="ambilight on; brightness-max"
alias vlc-fullscreen='dbus-send --print-reply --dest=org.mpris.MediaPlayer2.vlc /org/mpris/MediaPlayer2 org.freedesktop.DBus.Properties.Set string:"org.mpris.MediaPlayer2" string:"Fullscreen" variant:boolean:true'
alias flactomp3='for a in *.flac; do ffmpeg -i "$a" -ab 320k -map_metadata 0 -id3v2_version 3 -qscale:a 0 "${a[@]/%flac/mp3}"; done'
alias diff="colordiff"
alias lsd='ls --group-directories-first'
alias nmon='NMON="cmtu" nmon'
alias lock="qdbus org.freedesktop.ScreenSaver /ScreenSaver org.freedesktop.ScreenSaver.Lock"
