#!/bin/bash
alias vi="vim"
alias mtr='mtr -o "LRDS N BAW" '
#alias ambilight="python2 $HOME/Development/Programming/ambilight/controller/main.py"
alias vlc-fullscreen='dbus-send --print-reply --dest=org.mpris.MediaPlayer2.vlc /org/mpris/MediaPlayer2 org.freedesktop.DBus.Properties.Set string:"org.mpris.MediaPlayer2" string:"Fullscreen" variant:boolean:true'
alias flactomp3='for a in *.flac; do ffmpeg -i "$a" -ab 320k -map_metadata 0 -id3v2_version 3 -qscale:a 0 "${a[@]/%flac/mp3}"; done'
alias diff="colordiff"
alias lsd='ls --group-directories-first'
alias nmon='NMON="cmtu" nmon'
alias lock="qdbus org.freedesktop.ScreenSaver /ScreenSaver org.freedesktop.ScreenSaver.Lock"
alias afk="qdbus org.freedesktop.ScreenSaver /org/freedesktop/ScreenSaver Lock"

alias hollywood="docker run --rm -it jess/hollywood"

alias game="wol D0:50:99:9A:F5:8C"
alias letsplayagame=game

#alias kubectl=oc
alias rdocker="DOCKER_HOST=tcp://nas:2375 docker"
alias rmolecule="DOCKER_HOST=tcp://nas:2375 molecule"

# IP addresses
alias pubip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="sudo ifconfig | grep -Eo 'inet (addr:)?([0-9]*\\.){3}[0-9]*' | grep -Eo '([0-9]*\\.){3}[0-9]*' | grep -v '127.0.0.1'"
alias ips="sudo ifconfig -a | grep -o 'inet6\\? \\(addr:\\)\\?\\s\\?\\(\\(\\([0-9]\\+\\.\\)\\{3\\}[0-9]\\+\\)\\|[a-fA-F0-9:]\\+\\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

alias goland="/opt/GoLand/bin/goland.sh"
# FIXME temporary git alias
alias gpush='git push origin $(current_branch)'

alias ocat='/usr/bin/cat'
