#!/bin/bash
# shellcheck source=/dev/null

function play() { qdbus "org.mpris.MediaPlayer2.$1" /org/mpris/MediaPlayer2 org.mpris.MediaPlayer2.Player.Play; }
function pause() { qdbus "org.mpris.MediaPlayer2.$1" /org/mpris/MediaPlayer2 org.mpris.MediaPlayer2.Player.Pause; }

weather() {
	curl "wttr.in/$1"
}

lights_off() {
	if [ -z "$1" ]; then
		sleep 5
	else
		sleep "$1"
	fi
	xset dpms force off
	ambilight off
}

new-alias() {
	local last_cmd
	# shellcheck disable=SC2001
	last_cmd=$(history | tail -n2 | head -n1 | sed 's/[0-9]* //')
	echo alias "$1='""$last_cmd""'" >>~/.new_aliases
	source "$HOME/.new_aliases"
}

extract() {
	if [ -f "$1" ]; then
		case $1 in
		*.tar.bz2) tar xvjf "$1" ;;
		*.tar.gz) tar xvzf "$1";;
		*.bz2) bunzip2 "$1" ;;
		*.rar) unrar x "$1" ;;
		*.gz) gunzip "$1" ;;
		*.tar) tar xvf "$1" ;;
		*.tbz2) tar xvjf "$1" ;;
		*.tgz) tar xvzf "$1" ;;
		*.zip) unzip "$1" ;;
		*.Z) uncompress "$1" ;;
		*.7z) 7za x "$1" ;;
		*) echo "'$1' cannot be extracted via >extract<" ;;
		esac
	else
		echo "'$1' is not a valid file"
	fi
}

checkkernel() {
	MSG="\e[1m\e[5m\e[31mALERT! \e[25mReboot system to apply crucial security updates.\e[0m"
	if [ -f /var/run/reboot-required ]; then
		echo -e "$MSG"
	fi
	if [ "$(rpm -q --last kernel | perl -pe 's/^kernel-(\S+).*/$1/' | head -1)" != "$(uname -r)" ]; then
		echo -e "$MSG"
	fi
}

function gpgreload() {
	local keyid="0x507ED6F6586DD37F"
	gpgconf --kill gpg-agent
	# shellcheck disable=SC2164
	( cd "$(gpgconf --list-dirs homedir)/private-keys-v1.d"; 
	gpg2 -K --with-keygrip --with-colons "$keyid" | \
	awk -F: '/^grp/ { print $10".key"; }' | \
	xargs rm -vf >/dev/null; )
	gpg-connect-agent "scd serialno" "learn --force" /bye >/dev/null 2>&1
}

# TODO: kubectl plugin ?
function k8s-show-image() {
	kubectl get pods --all-namespaces -l app="${1}" -ojsonpath="{.items[*].spec.containers[?(@.name==\"$1\")].image}"
}

# TODO: kubectl plugin?
function k8s-po-show-rules() {
	kubectl -n prometheus-operator-e2e-tests exec -it prometheus-test-0 -c prometheus '/bin/sh -c "cat /etc/prometheus/rules/rules-0/test.rules"'
}


function up() {
	local msg="System update finished."
	#if [ "$(dnf check-update --refresh 2>/dev/null | grep -c "grub\|kernel")" -gt 0 ]; then
	#	msg="$msg Reboot is required."
	#	if find -- "/boot" -prune -type d -empty | grep -q .; then
	#		echo "Cannot update system since /boot is empty."
	#		exit 1
	#	fi
	#fi
	sudo dnf update
	flatpak update
	notify-send "$msg"
}

todo() {
	if [ "$(date +%H)" -gt 18 ] || [ "$(date +%u)" -gt 5 ]; then
		# After work don't display TODO list
		return
	fi
	if [ -f "$HOME/Notes/TODO" ]; then
		echo -en "\e[1m\e[32m"
		echo "Things to do in next days:"
		echo -en "\e[0m\e[33m"
		cat "$HOME/Notes/TODO"
		echo -en "\e[0m"
	fi
}

todoedit() {
	vim "$HOME/Notes/TODO"
}

# TODO: Improve and move to prometheus-operator repo
e2e() {
	if [ "$(basename "$(pwd)")" != "prometheus-operator" ]; then
		echo "Not in prometheus-operator directory"
		return
	fi
	kind delete cluster
	kind create cluster
	export KUBECONFIG="$(kind get kubeconfig-path)"
	make image
	for n in "operator" "config-reloader"; do
		kind load docker-image "quay.io/coreos/prometheus-$n:$(git rev-parse --short HEAD)"
	done
	until [ "$(kubectl get pods -n kube-system --field-selector=status.phase==Running | wc -l )" -eq 9 ]; do
		echo "Waiting for cluster to finish bootstraping"
		sleep 5
	done
	make test-e2e
}

# OpenShift specific
function clusterbot() {
	local file
	#shellcheck disable=SC2012,SC2086
	file=$(ls -t ${HOME}/Downloads/cluster-bot-*.kubeconfig.txt | head -n1)
	if [ "$file" == "" ]; then
		echo "clusterbot kubeconfig file not found"
	else
		mv "$file" "$HOME/.kube/config.clusterbot"
		export KUBECONFIG="$HOME/.kube/config.clusterbot"
		kubectl get clusterversion
		export KUBECTL_NAMESPACE="openshift-monitoring"
	fi
}

picsort() {
  # exiftool -ext jpg '-FileName<CreateDate' -d %Y_%m_%d__%H_%M_%S%%-c.%%e .
  exiftool -d %Y-%m-%d-%H%M_%%f.%%e -ext jpg "-filename<datetimeoriginal" .
  exiftool -d %Y-%m-%d-%H%M_%%f.%%e -ext jpeg "-filename<datetimeoriginal" .
  #X=1
  #for i in *; do
  #  # mv "$i" "$(printf %04d.%s ${X%.*} "${i##*.}")"
  #  mv "$i" "$(printf %04d%s ${X%.*} "_${i}")"
  #  X="$((X+1))"
  #done
}

function monitor() {
	local WHICH="$1"
	local COMMAND="xrandr --output eDP1 --mode 1920x1080 "
	case "$1" in
	"lg") PARAMS="--output DP1 --mode 3440x1440 --right-of eDP1" ;;
	"projector") PARAMS="--output HDMI1 --mode 1920x1080 --right-of eDP1" ;;
	*) PARAMS="--output DP1 --off --output HDMI1 --off" ;;
	esac
	
	echo "Setting up screens configuration"
	eval $COMMAND $PARAMS
	echo "Re-applying screen configuration in 5 second..."
	sleep 5
	eval $COMMAND $PARAMS
}

function sshcopyid() {
	local host
	host="$1"
	ssh-copy-id "$host"
	for id in "$HOME/.ssh/id_rsa.pub" "$HOME/.ssh/ankhmorpork.pub"; do
		echo "$id"
		ssh-copy-id -f -i "$id" "$host"
	done
}

function buildx-init() {
	docker run --rm --privileged docker/binfmt:820fdd95a9972a5308930a2bdfb8573dd4447ad3
	docker buildx create --name mybuilder --use
	docker buildx inspect --bootstrap
}

function buildx-cross() {
	local image=${1}
	for arch in amd64 arm64 arm; do
		docker buildx build --platform linux/${arch} -t "${image}-${arch}" --load .
		docker push "${image}-${arch}"
	done
	manifest-tool push from-args --platforms linux/amd64,linux/arm64,linux/arm  --template "${image}-ARCH" --target "${image}"
}

function image-reupload() {
	local src=${1}
	local dst=${2}

	docker pull "${src}"
	docker tag "${src}" "${dst}"
	docker push "${dst}"
}

function image-manifest() {
	local img="${1}"
	docker manifest create -a "${img}" "${img}-amd64" "${img}-arm64" "${img}-arm"
	for arch in amd64 arm64 arm; do
		docker manifest annotate --arch "$arch" "${img}" "${img}-$arch"
	done
	docker manifest push "${img}"
}

# TODO: Improve image building in prometheus-operator to make this obsolete
function prom-op-mirroring {
	local tag="${1}"
	local branch="${2}"
	for img in quay.io/prometheus-operator/prometheus-operator quay.io/coreos/prometheus-operator quay.io/prometheus-operator/prometheus-config-reloader quay.io/coreos/prometheus-config-reloader; do
		for arch in amd64 arm64 arm; do
			image-reupload "${img}-dev:${branch}-${arch}" "${img}:${tag}-${arch}"
			image-manifest "${img}:${tag}"
		done
	done
}

# TODO: Check if still needed. Consider moving to kube-prometheus or tobs
wrap() {
local where="${1}"
local name="${2}"
	
cat << EOF
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  labels:
    prometheus: k8s
    role: alert-rules
  name: ${name}
  namespace: monitoring
spec:
$(sed 's/^/  /' < "${where}")
EOF
}

# OpenShift specific
# Simpler version of https://github.com/openshift/cluster-monitoring-operator/blob/master/hack/uwm_setup.sh
uwm-start() {
	local TMP, NAMESPACE
	NAMESPACE=openshift-user-workload-monitoring
	TMP=$(mktemp -d)
	oc create configmap cluster-monitoring-config -n openshift-monitoring
	oc get configmap cluster-monitoring-config -n openshift-monitoring -o yaml > "${TMP}/cluster-monitoring-config.yaml"
	cat <<-EOF >> "${TMP}/cluster-monitoring-config.yaml"
	data:
	  config.yaml: |
	    enableUserWorkload: true
	EOF
	oc apply -f "${TMP}/cluster-monitoring-config.yaml"
	echo -n "Waiting for OpenShift user workload monitoring Pods."
	while [[ "$(oc get pods -n ${NAMESPACE} --field-selector=status.phase!=Running 2>/dev/null | wc -l)" -gt 1 ]] || \
	      [[ "$(oc get pods -n ${NAMESPACE} 2>/dev/null | grep -sc 'prometheus-user-workload')" -lt 1 ]] || \
	      [[ "$(oc get pods -n ${NAMESPACE} 2>/dev/null | grep -sc 'thanos-ruler-user-workload')" -lt 1 ]]; do
		echo -n "."
		sleep 5
	done
	echo " done"
}

# OpenShift specific
# Complementary to uwm-start()
uwm-stop() {
	local TMP
	TMP=$(mktemp -d)
	oc create configmap cluster-monitoring-config -n openshift-monitoring
	oc get configmap cluster-monitoring-config -n openshift-monitoring -o yaml > "${TMP}/cluster-monitoring-config.yaml"
	cat <<-EOF >> "${TMP}/cluster-monitoring-config.yaml"
	data:
	  config.yaml: |
	    enableUserWorkload: false
	EOF
	oc apply -f "${TMP}/cluster-monitoring-config.yaml"
}

diffyaml() {
  yamldiff --file1 "${1}" --file2 "${2}"
}
